Cartfile.resolved
/Carthage
cryptography-in-use.xcodeproj/project.xcworkspace/xcuserdata/mojtabamirzadeh.xcuserdatad/
cryptography-in-use.xcodeproj/xcshareddata/
cryptography-in-use.xcodeproj/xcuserdata/mojtabamirzadeh.xcuserdatad/
DataKit.xcframework/
GemCommonsKit.xcframework/